.vikarovs-item-configuration .item-configuration-form {
    padding: 10px;
  }
  
  .vikarovs-item-configuration .form-group {
    margin-bottom: 10px;
  }
  
  .vikarovs-item-configuration .form-group label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  
  .vikarovs-item-configuration .drop-zone {
    border: 2px dashed #ccc;
    text-align: center;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    width: 100px;
    transform: translateX(123px);
    margin-bottom: 45px;
  }
  
  .vikarovs-item-configuration .drop-zone:hover {
    border-color: #666;
  }
  
  .vikarovs-item-configuration .slot-image {
    max-width: 98px;
    max-height: 98px;
  }
  
  .vikarovs-item-configuration .slot-name {
    width: 150px;
    text-wrap: auto;
  }
  
  .vikarovs-item-configuration .slot-placeholder {
    color: #666;
  }
  
  .vikarovs-item-configuration select,
  .vikarovs-item-configuration input[type="number"] {
    width: 200px;
  }
  
  .vikarovs-item-configuration .buttons {
    text-align: right;
  }
  
  .vikarovs-item-configuration .buttons button {
    margin-left: 5px;
  }